@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	@apply m-0 p-0 box-border;
}

html {
	font-family: 'Outfit', sans-serif;
	font-optical-sizing: auto;
}

.min-h-size {
	min-height: calc(100vh - 6rem);
}
